<h3>SoleMate Users </h3>

<% @users.each do |user| %>
  <div>
    <% if user.id != current_user.id %>
      <p><%= user.username %> <%= link_to "Delete User", user, method: :delete %></p>
    <% end %>
  </div>
<% end %>

<div class="links">
  <p><%= link_to "Back To Shoes", root_path %></p>
</div>
