body{

  color: #051594;
  font-family: "Goudy Bookletter 1911";
}

h1 {
  text-align: center;
  text: bold;
  padding-top: 20px;
  font-size: 50pt;
  font-family: "Goudy Bookletter 1911";

}

h2{
  font-family: "Goudy Bookletter 1911";
  padding-left: 18px;
}

h3{
  text: bold;
  padding: 20px;
  font-size: 30pt;
  text-align: center;
  font-family: "Goudy Bookletter 1911";
}

h4{
  font-size: 15pt;
}

h5{
  font-size: 20pt;
}

.top-bar-left{
  padding-right: 10px;
}

img{
  max-width: 200px;
  max-height: 200px;
  border: 1px solid;
  padding: 2px;
}

.password{
  padding: 0;
  margin: 0;
}

.shoe{
  border: solid, 1px;
  max-width: 300px;
  max-height: 300px;
}

.review{
  border: 1px, solid;
}

.links{
  padding-left: 18px;
}

#user_password {
  margin: 0;
}
