body{
  color: #051594;
  font-family: Impact;
}

h1 {
  text-align: center;
  text: bold;
  padding-top: 20px;
  font-size: 50pt;
  font-family: Impact;

}

h2{
  font-family: Impact;
}

h3{
  text: bold;
  padding: 20px;
  font-size: 30pt;
  text-align: center;
  font-family: Impact;
}

h4{
  font-size: 15pt;
}

h5{
  font-size: 20pt;
}

.top-bar-left{
  padding-right: 10px;
}

.log{
  padding-left: 18px;
}
img{
  max-width: 200px;
  max-height: 200px;
  padding: 0px 8px 20px 8px;
}

li{
  list-style-type: none;
}

nav{
  opacity: 0.8;
  padding: 20px;
  padding-bottom: 50px;
  background: linear-gradient( to top, white, #556a8c);
}

nav a{
  font-size: 30px;
  color: white;
  text: bold;
}

.alert{
  padding-left: 18px;
}

.notice{
  margin: 0 auto;
  text-align: center;
  color: #d3430e;
  text: bold;
  font-size: 20pt;
}

.shoe{
  border: solid, 1px;
  max-width: 300px;
  max-height: 300px;
}

.review{
  border: 1px, solid;
}

.links{
  padding-left: 18px;
  text-decoration: none;
}

.list-of-users a {
  margin-left: 100px;
}

#user_password {
  margin: 0 0 1rem;
}

.review_heading{
  color : #051594;
  font-size : 20px;
}

.update_review{
  font-family: Impact;
  width: 99%;
  border : solid 1px #D3D3D3;
  border-radius : 3px;
  font-size : 25px;
  color : #051594;
  padding : 5px 17px;
  background : #ffffff;
  margin-bottom: 5px;
}

.update_review:hover {
  background-color: #D3D3D3;
}

#search-bar:hover{
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}

#search-bar{
  font-family: Impact;
  width: 20%;
  border : solid 1px #D3D3D3;
  border-radius : 10px;
  opacity: 0.8;
  font-size : 25px;
  color: white;
  padding : 5px 17px;
  background: #F44D2D;
  box-shadow: 3px 3px 1px grey;
  margin-left: 40%;

}

.pic{
  text-align: right;
}

.box1{

  font-size: 15pt;
}

.box3{
  padding-top: 1em;

}
#rating {
  font-size: 20px;
}

.box4{
  /*background-color: yellow;*/
  padding-top: .75em;
}

.review{
  background: linear-gradient( white, #dae1ed);

  margin-bottom: 15px;
}

#user-photo {
  width: 10px;
}

nav img {
  width: 50px;
}

#search-div {
  padding: 0px 120px 80px 120px;
}

#search {
  height: 80px;
  border-radius: 15px;
  text-align: center;
  font-size: 3rem;
  background-color: #CDDCDE;
  box-shadow: 5px 5px 2px grey;

}
