

<h2 class="text-center"><%=link_to "<button>Add New Shoe</button>".html_safe, new_shoe_path %></h2>
<ul>
<% @shoes.each do |shoe| %>
 <div class="row">
    <div class="large-6 columns">
      <li><%= link_to "#{shoe.brand} #{shoe.model} #{shoe.version}", shoe %> </li>
      <%= image_tag(shoe.picture) %>
    </div>
  <% end %>
</div>

<div class="links">
  <p><%= link_to "Back To Shoes", root_path %></p>
</div>
