

<%=link_to "<button>Add New Shoe</button>".html_safe, new_shoe_path %>

<% @shoes.each do |shoe| %>
  <div>
    <p><%= link_to "#{shoe.brand} #{shoe.model} #{shoe.version}", shoe %> </p>

    <%= image_tag(shoe.picture) %>
  </div>
<% end %>
